@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3640B5;
    color: #FFFFFF;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.title {
    font-weight: 700;
    font-size: 2.5rem;
    color: #3640B5;
}

.subtitle {
    font-weight: 500;
    font-size: 1.5rem;
    color: #FF6B72;
    margin-bottom: 50px;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
